<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewsReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>164C18D91DACC84200E1D96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164C18F21DACC84200E1D96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164C18FD1DACC84200E1D96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
